#body{
  background-color: black;
}
#featured-panel{
  margin-top: 2em;
  border-color: tan;
}
#featured-heading{
  background-color: maroon;
  color: lightgrey;
  /*border-radius: 0px;*/
}
#featured-body h5{
  font-size: 1.5em;
}
#featured-body{
  background-color: tan;
  font-size: 1.1em;
}

#recources{
  color: white;
  text-align: center;
}
#recources h1{
  font-size: 7em;
}
#recources h3{
  font-size: 2em;
}
#recources p{
  font-size: 1.5em;
}
#tiers h1{
  font-size: 7em;
}
#tiers h3{
  font-size: 2em;
}
#tiers p{
  font-size: 1.5em;
}
#biomes h1{
  font-size: 7em;
}
#biomes h3{
  font-size: 2em;
}
#biomes p{
  font-size: 1.5em;
}
#tiers{
  color: white;
  text-align: center;
}
#biomes{
  color: white;
  text-align: center;
}

#totop-button{
  color: lightblue;
  background-color: blue;
  border-radius: 4px;
  margin-top: 12px;
  margin-bottom: auto;
  margin-right: 10px;
  padding: 3px;
  transition: color 1s, background-color 1s;
}
#totop-button:hover{
  color: pink;
  background-color: red;
  text-decoration: none;

}
#top-foot-nav{
  margin: 3em 0em 0em 0em;
  border-bottom: gray solid 2px;
  border-radius: 0px;
}
#crest-cont{
  width: 4em;
  margin-top: -1.3em;
}
#crest{
  width: 100%;
  height: auto;
}
#foot-nav2{
  border-radius: 0px;
  margin-bottom: 0px;
}

#credit{
  color: gray;
}
